@import "tailwindcss";
@plugin "daisyui";


.font-caveat {
    font-family: 'Caveat', cursive;
}

@layer base {
    body {
        font-family: 'Lato', sans-serif;
    }
}

.custom-scrollbar::-webkit-scrollbar {
    display: none;
}

.custom-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-on-hover {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll-on-hover::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.scroll-on-hover:hover {
    scrollbar-width: none;
}

.scroll-on-hover:hover::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.scroll-on-hover:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0px;
}